In [74]:
import pandas as pd
from imdb import IMDb
import numpy as np
from bs4 import BeautifulSoup
import urllib.request

In [115]:
#read the CSV files
movies_df = pd.read_csv('movies.csv')
links_df = pd.read_csv('links.csv')

In [116]:
#look at the data
movies_df.head(2)

   movieId             title                                       genres
0        1  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy
1        2    Jumanji (1995)                   Adventure|Children|Fantasy

In [117]:
#links dataframe contains a cross-reference between id
#in the provided dataset and id on imdb.com
links_df.head(2)

   movieId  imdbId  tmdbId
0        1  114709   862.0
1        2  113497  8844.0

In [118]:
#join both the dataframes based on movieId
movies_df=movies_df.set_index('movieId')
links_df=links_df.set_index('movieId')
movies_df=movies_df.join(links_df)
movies_df['imdbId']=movies_df.imdbId.apply(str)
movies_df.head(2)

,title,genres,imdbId,tmdbId
movieId,,,,
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0
2,Jumanji (1995),Adventure|Children|Fantasy,113497,8844.0

In [119]:
#exclude the documentaries
movies_df=movies_df[~(movies_df.genres.str.contains('Docu'))]

In [120]:
movies_df['year']=movies_df.title.apply(lambda x:(x.strip())[-5:-1])
movies_df.head(2)

,title,genres,imdbId,tmdbId,year
movieId,,,,,
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,1995
2,Jumanji (1995),Adventure|Children|Fantasy,113497,8844.0,1995

In [121]:
#List the items that do not have a numeric year
movies_df[~movies_df.year.str.isnumeric()]

,title,genres,imdbId,tmdbId,year
movieId,,,,,
108548,"Big Bang Theory, The (2007-)",Comedy,898266,NaN,007-
143410,Hyena Road,(no genres listed),4034452,316042.0,Roa
151307,The Lovers and the Despot,(no genres listed),5278868,373355.0,espo
162376,Stranger Things,Drama,4574334,410612.0,hing

In [122]:
#Remove the items that do not have a numeric year
movies_df=movies_df[movies_df.year.str.isnumeric()]

In [22]:
im = IMDb(accessSystem='html',adultSearch=0)

In [123]:
movies_df['imdbId']=movies_df.imdbId.apply(str)
movies_df.head(2)

,title,genres,imdbId,tmdbId,year
movieId,,,,,
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,1995
2,Jumanji (1995),Adventure|Children|Fantasy,113497,8844.0,1995

In [124]:
#Split the genres
movies_df['g_Action'] = movies_df.genres.apply(lambda x: 1 if ('Action'.lower() in x.lower()) else 0)
movies_df['g_Adventure'] = movies_df.genres.apply(lambda x: 1 if ('Adventure'.lower() in x.lower()) else 0)
movies_df['g_Animation'] = movies_df.genres.apply(lambda x: 1 if ('Animation'.lower() in x.lower()) else 0)
movies_df['g_Children'] = movies_df.genres.apply(lambda x: 1 if ('Children'.lower() in x.lower()) else 0)
movies_df['g_Comedy'] = movies_df.genres.apply(lambda x: 1 if ('Comedy'.lower() in x.lower()) else 0)
movies_df['g_Crime'] = movies_df.genres.apply(lambda x: 1 if ('Crime'.lower() in x.lower()) else 0)
movies_df['g_Documentary'] = movies_df.genres.apply(lambda x: 1 if ('Documentary'.lower() in x.lower()) else 0)
movies_df['g_Drama'] = movies_df.genres.apply(lambda x: 1 if ('Drama'.lower() in x.lower()) else 0)
movies_df['g_Fantasy'] = movies_df.genres.apply(lambda x: 1 if ('Fantasy'.lower() in x.lower()) else 0)
movies_df['g_Film-Noir'] = movies_df.genres.apply(lambda x: 1 if ('Film-Noir'.lower() in x.lower()) else 0)
movies_df['g_Horror'] = movies_df.genres.apply(lambda x: 1 if ('Horror'.lower() in x.lower()) else 0)
movies_df['g_IMAX'] = movies_df.genres.apply(lambda x: 1 if ('IMAX'.lower() in x.lower()) else 0)
movies_df['g_Musical'] = movies_df.genres.apply(lambda x: 1 if ('Musical'.lower() in x.lower()) else 0)
movies_df['g_Mystery'] = movies_df.genres.apply(lambda x: 1 if ('Mystery'.lower() in x.lower()) else 0)
movies_df['g_Romance'] = movies_df.genres.apply(lambda x: 1 if ('Romance'.lower() in x.lower()) else 0)
movies_df['g_Sci-Fi'] = movies_df.genres.apply(lambda x: 1 if ('Sci-Fi'.lower() in x.lower()) else 0)
movies_df['g_Thriller'] = movies_df.genres.apply(lambda x: 1 if ('Thriller'.lower() in x.lower()) else 0)
movies_df['g_War'] = movies_df.genres.apply(lambda x: 1 if ('War'.lower() in x.lower()) else 0)
movies_df['g_Western'] = movies_df.genres.apply(lambda x: 1 if ('Western'.lower() in x.lower()) else 0)

In [126]:
movies_df.head(3)

,title,genres,imdbId,tmdbId,year,Action,Adventure,Animation,Children,Comedy,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
movieId,,,,,,,,,,,,,,,,,,,,,
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,1995,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
2,Jumanji (1995),Adventure|Children|Fantasy,113497,8844.0,1995,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,Grumpier Old Men (1995),Comedy|Romance,113228,15602.0,1995,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0

In [576]:
def count_movies(movie_list,year):
    '''
    given a list of movies and a year, this function counts the
    number of movies released before the given year
    '''
    ct=0
    for movie in movie_list:
        if movie.has_key('year'):
            if movie['year']<=year:
                ct=ct+1
        else:
            # the movie may be a tv series and no year key was found
            # however, it will still be included in the count
            ct=ct+1
    return ct

#------------------------------------------------------------------

def get_movie_count(person_id,year,drctr_search=False):
    '''
    returns the number of movies the person has acted in or 
    directed till the year
    inputs:
    1. person id
    2. year
    3. indictor for director search
    output:
    1. number of movies the person has acted in till the year
    '''
    try:
        prsn=im.get_person(person_id)
    except Exception as e:
        print('Error while searching for person %s not found. \
          Please check the id' % person_id)
        return 0
    if ((drctr_search==True) & (prsn.has_key('director'))):
        count=count_movies(prsn['director'],year)
    elif ((drctr_search==False) & (prsn.has_key('actor'))):
        count=count_movies(prsn['actor'],year)
    elif ((drctr_search==False) & (prsn.has_key('actress'))):
        count=count_movies(prsn['actress'],year)
    else:
        count=0
    return count

#------------------------------------------------------------------

def get_cast_mv_details_from_mvie(movieId):
    '''
    given a movie id, this function checks if the movie id
    is a valid movie id and return the details of the movie
    if the id is valid
    A movie id is decided to be valid if the 'kind' is movie and 
    'English' is one of the movie languages and 'USA' or 'UK' is one of 
    the countries in which the movie was released. Basically, we 
    would like to include only movies (not TV Shows or documentaries) 
    that have been made in English language and has been released in
    USA to build the data.
    If a movie is found to be valid, this function returns the following
    as a dict:kind, year of release, plot of the movie, production studio
    and the score of the first 4 actors in the movie and the score of the 
    director. 
    An actor's score is just the total number of movies the actor
    has acted in till the year in which the movie was released. Similarly,
    the score of the director is the total number of moves the director
    has directed till the year in which the movie was released.
    Input:
    1. Movie Id (String)
    Output:
    1. Dict containing details of the movie
    '''
    movie_details = {'found':False,'kind':'','plot':'','year':np.NaN,'actor1_name':'',
                'actor1_score':'','actor1_gender':'Female','actor2_name':'','actor2_score':'',
                'actor2_gender':'Female','actor3_name':'','actor3_score':'','actor3_gender':'Female',
                'actor4_name':'','actor4_score':'','actor4_gender':'Female','director':'','director_score':'',
                'studio':'','release_date':''}
    try:
        movie=im.get_movie(movieId)
    except Exception as e:
        #movie_details['found']=e
        print(e)
        return movie_details
    #print('kind:',movie['kind'],(movie['kind']!='movie'))
    #print('lang:',movie['language'],('English' not in movie['language']))
    #print('country:',movie['country'],('USA' not in movie['country']))
    if movie.has_key('kind') & movie.has_key('language') & movie.has_key('country'):
        if ((movie['kind']!='movie') | ('English' not in movie['language']) | 
            (('USA' not in movie['country'])& ('UK' not in movie['country'])& ('France' not in movie['country'])& ('Italy' not in movie['country']))):
            return movie_details
        else:
            movie_details['found']=True
            movie_details['kind']=movie['kind']
            if movie.has_key('plot'):
                movie_details['plot']=movie['plot']
            
            movie_details['year']=movie['year']
            
            if movie.has_key('production companies'):
                movie_details['studio']=movie['production companies'][0]['name']
            
            persons=[]
            if movie.has_key('cast'):
                persons=movie['cast']
            
            if len(persons)>0: 
                try:
                    actor1=im.get_person(persons[0].getID())
                except Exception as e:
                    movie_details['found']=e
                    return movie_details
                if actor1.has_key('name'):
                    movie_details['actor1_name']=actor1['name']
                if actor1.has_key('year'):
                    movie_details['actor1_score']=get_movie_count(actor1.getID(),movie_details['year'],drctr_search=False)
                if actor1.has_key('actor'):
                    movie_details['actor1_gender']='Male'

            if len(persons)>1:
                try:
                    actor2=im.get_person(persons[1].getID())
                except Exception as e:
                    movie_details['found']=e
                    return movie_details
                if actor2.has_key('name'):
                    movie_details['actor2_name']=actor2['name']
                if actor2.has_key('year'):
                    movie_details['actor2_score']=get_movie_count(actor2.getID(),movie_details['year'],drctr_search=False)
                if actor2.has_key('actor'):
                    movie_details['actor2_gender']='Male'

            if len(persons)>2: 
                try:
                    actor3=im.get_person(movie['cast'][2].getID())
                except Exception as e:
                    movie_details['found']=e
                    return movie_details
                if actor3.has_key('name'):
                    movie_details['actor3_name']=actor3['name']
                if actor3.has_key('year'):
                    movie_details['actor3_score']=get_movie_count(actor3.getID(),movie_details['year'],drctr_search=False)
                if actor3.has_key('actor'):
                    movie_details['actor3_gender']='Male'

            if len(persons)>3: 
                try:
                    actor4=im.get_person(movie['cast'][3].getID())
                except Exception as e:
                    movie_details['found']=e
                    return movie_details
                if actor4.has_key('name'):
                    movie_details['actor4_name']=actor4['name']
                if actor4.has_key('year'):
                    movie_details['actor4_score']=get_movie_count(actor4.getID(),movie_details['year'],drctr_search=False)
                if actor4.has_key('actor'):
                    movie_details['actor4_gender']='Male'

            if movie.has_key('director'):
                directors = movie['director']
                if len(directors)>0:
                    try:
                        director=im.get_person(directors[0].getID())
                    except Exception as e:
                        movie_details['found']=e
                        return movie_details
                    movie_details['director']=director['name']
                    movie_details['director_score']=get_movie_count(director.getID(),movie_details['year'],drctr_search=True)
                return movie_details
            else:
                return movie_details
    else:
        return movie_details

#------------------------------------------------------------------

def get_movie_budget_imdb(movie_id):
    '''
    imdbpy does not have an inbuilt method to
    get the movie budget. This function gets
    the movie budget values from imdb.com
    input
    1. movie id (string)
    output
    1. the budget (int) of the movie if the
    movie id is found or a string 'BudgetNotFound'
    if the movie is not found
    '''
    urlpre='http://www.imdb.com/title/tt'
    urlpost='/business'
    movie_id=movie_id.zfill(7)
    #complete URL
    urlfull=urlpre+movie_id+urlpost
    #print(urlfull)
    try:

        #get the page to the IMDB business page
        url = urllib.request.urlopen(urlfull)
        page = url.read()
    except Exception as e:
        return('BudgetNotFound:'+urlfull)

    #read it into bs4
    soup = BeautifulSoup(page, 'html.parser')

    #navigate to the table div that has the budget details
    pagetext=(soup.find("div",{'id':'tn15content'})).text

    #parse the budget numbers
    if pagetext.find('Budget')==1:
        budget_str=pagetext[pagetext.find('$')+1:pagetext.find(' ')]
    else:
        #Budget not found
        return('BudgetNotFound:'+urlfull)

    try:
        #convert to int and return
        budget=int((pagetext[pagetext.find('$')+1:pagetext.find(' ')]).replace(',',''))
        return budget
    except Exception as e:
        #error while converting to int
        return('BudgetNotFound:'+urlfull)


#------------------------------------------------------------------
    
    
def fix_title_string(title):
    title=title[:title.find('(')].replace(' ','')
    title=title.replace('.','')
    title=title.replace("'",'')
    title=title.replace('-','')
    comma_found=False
    
    #check if there is comma 
    if title.find(',')>0:
        comma_found=True
    
    #Check for The occuring at the end and fix
    if comma_found:
        word_after_comma=title[title.find(','):]
        #check for the word 'The'
        if (word_after_comma.find('The')>0):
            title = title[:title.find(',')]
        #check for 'A'
        if (word_after_comma.find('A')>0):
            title='A'+title[:title.find(',')]
    return title


#------------------------------------------------------------------
  
def get_movie_4thWkndBo_BoMojo(m_title):
    urlpre='http://www.boxofficemojo.com/movies/?page=weekend&id='
    upd_title=fix_title_string(m_title)
    urlfull=urlpre+upd_title+'.htm'

    print(urlfull)
    #get the page to the weekend collection chart
    try:
        url = urllib.request.urlopen(urlfull)
        page = url.read()
    except:
        return('Not Found. URL:'+urlfull)


    #read it into bs4
    soup = BeautifulSoup(page, 'html.parser')

    #navigate to the table that shows the box-office chart
    #the charts are by years
    bochart=soup.findAll("table",{'chart-wide'})

    #to get the box office collection for the fourth weekend
    #get the rows of the first chart
    if len(bochart)>0:
        #valid movie title
        rows=bochart[0].findAll('tr')
    else:
        return('Not Found. URL:'+urlfull)

    #check if the table has atleast 4 rows excluding header
    #this is needed in case of movies released during the
    #last weeks of a year, in which case, it will have only
    #1 or 2 rows
    rows_in_first_chart = len(rows)

    if rows_in_first_chart>4:
        # the first table has at least 4 weekend data
        fourth_wknd_row = rows[4]
    else:
        # the first table has less than 4 weekend data
        if len(bochart)>1:
            rows=bochart[1].findAll('tr')
            if len(rows)> (5-rows_in_first_chart):
                fourth_wknd_row = rows[5-rows_in_first_chart]
            else:
                #these are movies that do not have box-office data
                #for more than 3 weekends, e.g. Sudden Death 
                #(unbelievable, that was an awesome movie!!) 
                return('Not Found. URL:'+urlfull)
        else:
            return('Not Found. URL:'+urlfull)

    #the box office value is present in the 8th column
    wknd_bo_coln = fourth_wknd_row.findAll('td')[7].text
    if wknd_bo_coln is not None:
        #strip the $ and , from the text e.g. from $2,333,443
        wknd_bo_coln = wknd_bo_coln.replace('(Estimate)','')
        wknd_bo_coln = wknd_bo_coln.replace('$','')
        wknd_bo_coln = wknd_bo_coln.replace(',','')

    return(wknd_bo_coln)


#------------------------------------------------------------------
    
    

def get_movie_reldate_imdb(movie_id):
    urlpre='http://www.imdb.com/title/tt'
    urlpost='/releaseinfo'
    urlfull=urlpre+movie_id+urlpost
    
    #get the page to the release dates
    try:
        url = urllib.request.urlopen(urlfull)
        page = url.read()
    except Exception as e:
        return('NoReleaseDates')

    #read it into bs4
    soup = BeautifulSoup(page, 'html.parser')

    #navigate to the table that shows the release dates
    rel_table=(soup.find("table",{'id':'release_dates'}))

    #iterate through the rows to find USA
    if rel_table is not None:
        rel_rows=rel_table.findAll("tr")
        for row in rel_rows:
            if ('USA' in row.text):
                datetxt=row.text[5:]
                return(datetxt[:datetxt.find(' ',4)+5])
            if ('UK' in row.text):
                datetxt=row.text[5:]
                return(datetxt[:datetxt.find(' ',4)+5])
        return('NoReleaseDates')
    else:
        return('NoReleaseDates')

In [169]:
#a small dataframe to test the functions
mv_sm_df=movies_df[0:10]

In [190]:
mv_sm_df['movie_details']=mv_sm_df.imdbId.apply(lambda x: get_cast_mv_details_from_mvie(x))

In [171]:
mv_sm_df['movie_budget']=mv_sm_df.imdbId.apply(lambda x: get_movie_budget_imdb(x))

C:\Anac\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [172]:
mv_sm_df['movie_4th_wknd_bo']=mv_sm_df.title.apply(lambda x: get_movie_4thWkndBo_BoMojo(x))

C:\Anac\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [173]:
mv_sm_df['release_date']=mv_sm_df.imdbId.apply(lambda x:get_movie_reldate_imdb(x))

C:\Anac\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [185]:
mv_sm_df.head(3)

,title,genres,imdbId,tmdbId,year,Action,Adventure,Animation,Children,Comedy,...,actor4_name,actor4_score,director,director_score,found,kind,plot,release_date,studio,year
movieId,,,,,,,,,,,,,,,,,,,,,
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709,862.0,1995,0,1,1,1,1,...,Jim Varney,33,John Lasseter,10,True,movie,[A little boy named Andy loves to be in his ro...,,Pixar Animation Studios,1995
2,Jumanji (1995),Adventure|Children|Fantasy,113497,8844.0,1995,0,1,0,1,0,...,Bradley Pierce,29,Joe Johnston,6,True,movie,[After being trapped in a jungle board game fo...,,TriStar Pictures,1995
3,Grumpier Old Men (1995),Comedy|Romance,113228,15602.0,1995,0,0,0,0,1,...,Ann-Margret,52,Howard Deutch,18,True,movie,[Things don't seem to change much in Wabasha C...,,Lancaster Gate,1995

In [175]:
#split the column containin the movie details
#and concat it to the original dataframe
mv_sm_df=pd.concat([mv_sm_df,mv_sm_df['movie_details'].apply(pd.Series)],axis=1)

In [186]:
mv_sm_df.columns

Index(['title', 'genres', 'imdbId', 'tmdbId', 'year', 'Action', 'Adventure',
       'Animation', 'Children', 'Comedy', 'Crime', 'Documentary', 'Drama',
       'Fantasy', 'Film-Noir', 'Horror', 'IMAX', 'Musical', 'Mystery',
       'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western', 'movie_details',
       'movie_budget', 'movie_4th_wknd_bo', 'release_date', 'actor1_gender',
       'actor1_name', 'actor1_score', 'actor2_gender', 'actor2_name',
       'actor2_score', 'actor3_gender', 'actor3_name', 'actor3_score',
       'actor4_gender', 'actor4_name', 'actor4_score', 'director',
       'director_score', 'found', 'kind', 'plot', 'release_date', 'studio',
       'year'],
      dtype='object')

In [187]:
mv_sm_df.iloc[3]

title                                         Waiting to Exhale (1995)
genres                                            Comedy|Drama|Romance
imdbId                                                          114885
tmdbId                                                           31357
year                                                              1995
Action                                                               0
Adventure                                                            0
Animation                                                            0
Children                                                             0
Comedy                                                               1
Crime                                                                0
Documentary                                                          0
Drama                                                                1
Fantasy                                                              0
Film-Noir                                                            0
Horror                                                               0
IMAX                                                                 0
Musical                                                              0
Mystery                                                              0
Romance                                                              1
Sci-Fi                                                               0
Thriller                                                             0
War                                                                  0
Western                                                              0
movie_details        {'found': True, 'kind': 'movie', 'plot': ['Thi...
movie_budget                                                  16000000
movie_4th_wknd_bo                                             52538430
release_date                                          22 December 1995
actor1_gender                                                   Female
actor1_name                                            Whitney Houston
actor1_score                                                        25
actor2_gender                                                   Female
actor2_name                                             Angela Bassett
actor2_score                                                        42
actor3_gender                                                   Female
actor3_name                                             Loretta Devine
actor3_score                                                        40
actor4_gender                                                   Female
actor4_name                                                Lela Rochon
actor4_score                                                        29
director                                               Forest Whitaker
director_score                                                       3
found                                                             True
kind                                                             movie
plot                 [This story based on the best selling novel by...
release_date
studio                                           Twentieth Century Fox
year                                                              1995
Name: 4, dtype: object

In [178]:
#the functions work, will run these on the larger dataset
len(movies_df)

8626

In [208]:
#split the large dataset into smaller chunks and run the funtions
#to get data from imdb and boxofficemojo
mv_df_20_to_200=movies_df[20:200]

In [ ]:
%%time
mv_df_20_to_200['movie_details']=mv_df_20_to_200.imdbId.apply(lambda x: get_cast_mv_details_from_mvie(x))
#Wall time: 36min 7s

In [205]:
mv_df_0_to_20=mv_df_1st_100.copy()

In [220]:
mv_df_200_to_1000=movies_df[200:1000]

In [ ]:
%%time
mv_df_200_to_1000['movie_details']=mv_df_200_to_1000.imdbId.apply(lambda x: get_cast_mv_details_from_mvie(x))
#Wall time: 2h 28min 37s

In [222]:
mv_df_200_to_1000.to_csv('mv_df_200_to_1000.csv')

In [223]:
mv_df_1000_to_2000=movies_df[1000:2000]

In [ ]:
%%time
mv_df_1000_to_2000['movie_details']=mv_df_1000_to_2000.imdbId.apply(lambda x: get_cast_mv_details_from_mvie(x))
#Wall time: 3h 16min 23s

In [225]:
mv_df_1000_to_2000.to_csv('mv_df_1000_to_2000.csv')

In [229]:
mv_df_2000_to_3000=movies_df[2000:3000]

In [ ]:
%%time
mv_df_2000_to_3000['movie_details']=mv_df_2000_to_3000.imdbId.apply(lambda x: get_cast_mv_details_from_mvie(x))
#Wall time: 1h 21min 34s

In [231]:
mv_df_2000_to_3000.to_csv('mv_df_2000_to_3000.csv')

In [232]:
mv_df_3000_to_4000=movies_df[3000:4000]

In [ ]:
%%time
mv_df_3000_to_4000['movie_details']=mv_df_3000_to_4000.imdbId.apply(lambda x: get_cast_mv_details_from_mvie(x))
#Wall time: 11h 49min 12s

In [234]:
mv_df_3000_to_4000.to_csv('mv_df_3000_to_4000.csv')

In [238]:
mv_df_4000_to_5000=movies_df[4000:5000]

In [241]:
%%time
mv_df_4000_to_5000['movie_details']=mv_df_4000_to_5000.imdbId.apply(lambda x: get_cast_mv_details_from_mvie(x))

Wall time: 2h 26min 34s

C:\Anac\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [242]:
mv_df_4000_to_5000.to_csv('mv_df_4000_to_5000.csv')

In [243]:
mv_df_5000_to_6000=movies_df[5000:6000]

In [ ]:
%%time
mv_df_5000_to_6000['movie_details']=mv_df_5000_to_6000.imdbId.apply(lambda x: get_cast_mv_details_from_mvie(x))
#Wall time: 1h 33min 17s

In [245]:
mv_df_5000_to_6000.to_csv('mv_df_5000_to_6000.csv')

In [250]:
mv_df_6000_to_7000=movies_df[6000:7000]

In [ ]:
%%time
mv_df_6000_to_7000['movie_details']=mv_df_6000_to_7000.imdbId.apply(lambda x: get_cast_mv_details_from_mvie(x))
Wall time: 1h 46min 39s

In [253]:
mv_df_6000_to_7000.to_csv('mv_df_6000_to_7000.csv')

In [262]:
mv_df_7000_to_rest=movies_df[7000:]

In [ ]:
%%time
mv_df_7000_to_rest['movie_details']=mv_df_7000_to_rest.imdbId.apply(lambda x: get_cast_mv_details_from_mvie(x))
#Wall time: 3h 29min

In [264]:
mv_df_7000_to_rest.to_csv('mv_df_7000_to_rest.csv')

In [291]:
#finally, i have got the data for all movies
frames = [mv_df_0_to_20,mv_df_20_to_200,mv_df_200_to_1000,mv_df_1000_to_2000,mv_df_2000_to_3000,mv_df_3000_to_4000,
          mv_df_4000_to_5000,mv_df_5000_to_6000,mv_df_6000_to_7000,mv_df_7000_to_rest]

In [292]:
#merge all the dataframes
all_movies_df=pd.concat(frames)

In [297]:
#split the movie_details into separate columns
all_movies_df=pd.concat([all_movies_df,all_movies_df['movie_details'].apply(pd.Series)],axis=1)

In [302]:
#get the release date for the movies
all_movies_df['release_date']=all_movies_df.imdbId.apply(lambda x: get_movie_reldate_imdb(x))

In [304]:
#get the box office data
%%time
all_movies_df['movie_4th_wknd_bo']=all_movies_df.title.apply(lambda x: get_movie_4thWkndBo_BoMojo(x))

Wall time: 24min

In [314]:
#get the movie budget data
%%time
all_movies_df['movie_budget']=all_movies_df.imdbId.apply(lambda x: get_movie_budget_imdb(x))
#for some reason, the above does not fetch budgets for more than 25 to 30 movies
#get HTTP error after that, so as a work around have called the funtion
#with a .5 second wait between each call

Wall time: 12min 4s

In [326]:
#we find that there are 5014 (a lot!) movies that do not have 4th weekend box office data
#i manually checked for a few movies, either there is no box office data or
# there is data only for 1 or 2 weeks, so will drop these movies going forward
#in hindsight, i should have run this as the first step!!
imdb_ids=all_movies_df[~(all_movies_df['movie_4th_wknd_bo'].str.contains('Not Found'))]['imdbId']

In [332]:
import time

In [ ]:
budget_dict={}
for imid in imdb_ids:
    budget_dict[imid]=get_movie_budget_imdb(imid)
    time.sleep(.5)
    print(imid,':',budget_dict[imid])

In [457]:
#get all the movies where there is a valid 4th weekend box office value
movies_with_bof_df=all_movies_df[~(all_movies_df['movie_4th_wknd_bo'].str.contains('Not Found'))]#['imdbId']
movies_with_bof_df=movies_with_bof_df.reset_index()
movies_with_bof_df=movies_with_bof_df.set_index('imdbId')

In [458]:
#create a DataFrame from the Dict values containing the budget
movie_budget=pd.DataFrame.from_dict(budget_dict,orient='index')
movie_budget.columns=['movieBudget']

In [459]:
#join the budget with the original DataFrame 
movies_with_bof_df=movies_with_bof_df.join(movie_budget)

In [460]:
'''
from the above dataset, we need only the ones that have valid 
budget and box office collection information. All the rows in
in this DataFrame (movie_with_bof_df) have a valid 4th weekend
value, from this remove the ones that do not have a valid movie budget
'''

movies_with_bof_df=movies_with_bof_df[~(movies_with_bof_df.movieBudget.apply(str)).str.contains('NotFound')]

len(movies_with_bof_df)#2732 movies

2732

In [420]:
#there are 337 movies that did not get data from IMDB, on analysis i found
#the some of these movies are European movies (e.g. Ex Machina, The Fifth Element). 
#So, i updated the get_cast_mv_details_from_mvie function to include movies from
#UK, France and Italy as well

(movies_with_bof_df.found==False).sum()

337

In [483]:
movies_with_bof_not_found_df=movies_with_bof_df[movies_with_bof_df.found==False][['year']]

In [505]:
movies_with_bof_df=movies_with_bof_df[~(movies_with_bof_df.found==False)]

In [430]:
movies_with_bof_not_found_df=movies_with_bof_not_found_df.reset_index()

In [433]:

movies_with_bof_not_found_df['movie_details']=movies_with_bof_not_found_df.imdbId.apply(lambda x: get_cast_mv_details_from_mvie(x))

2017-12-06 01:31:45,693 CRITICAL [imdbpy] C:\Anac\lib\site-packages\imdbpy-6.1.dev20171118-py3.6.egg\imdb\_exceptions.py:34: IMDbDataAccessError exception raised; args: ({'errcode': None, 'errmsg': 'None', 'url': 'http://akas.imdb.com/name/nm0149260/maindetails', 'proxy': '', 'exception type': 'IOError', 'original exception': URLError('http protocol error: bad status line',)},); kwds: {}
Traceback (most recent call last):
  File "C:\Anac\lib\urllib\request.py", line 1919, in _open_generic_http
    response = http_conn.getresponse()
  File "C:\Anac\lib\http\client.py", line 1331, in getresponse
    response.begin()
  File "C:\Anac\lib\http\client.py", line 297, in begin
    version, status, reason = self._read_status()
  File "C:\Anac\lib\http\client.py", line 279, in _read_status
    raise BadStatusLine(line)
http.client.BadStatusLine: GET /name/nm0149260/maindetails HTTP/1.1


During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Anac\lib\site-packages\imdbpy-6.1.dev20171118-py3.6.egg\imdb\parser\http\__init__.py", line 175, in retrieve_unicode
    uopener = self.open(url)
  File "C:\Anac\lib\urllib\request.py", line 1757, in open
    return getattr(self, name)(url)
  File "C:\Anac\lib\urllib\request.py", line 1936, in open_http
    return self._open_generic_http(http.client.HTTPConnection, url, data)
  File "C:\Anac\lib\urllib\request.py", line 1922, in _open_generic_http
    raise URLError("http protocol error: bad status line")
urllib.error.URLError: <urlopen error http protocol error: bad status line>
2017-12-06 01:31:45,693 CRITICAL [imdbpy] C:\Anac\lib\site-packages\imdbpy-6.1.dev20171118-py3.6.egg\imdb\__init__.py:713: caught an exception retrieving or parsing "main" info set for mopID "0149260" (accessSystem: http)
Traceback (most recent call last):
  File "C:\Anac\lib\urllib\request.py", line 1919, in _open_generic_http
    response = http_conn.getresponse()
  File "C:\Anac\lib\http\client.py", line 1331, in getresponse
    response.begin()
  File "C:\Anac\lib\http\client.py", line 297, in begin
    version, status, reason = self._read_status()
  File "C:\Anac\lib\http\client.py", line 279, in _read_status
    raise BadStatusLine(line)
http.client.BadStatusLine: GET /name/nm0149260/maindetails HTTP/1.1


During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Anac\lib\site-packages\imdbpy-6.1.dev20171118-py3.6.egg\imdb\parser\http\__init__.py", line 175, in retrieve_unicode
    uopener = self.open(url)
  File "C:\Anac\lib\urllib\request.py", line 1757, in open
    return getattr(self, name)(url)
  File "C:\Anac\lib\urllib\request.py", line 1936, in open_http
    return self._open_generic_http(http.client.HTTPConnection, url, data)
  File "C:\Anac\lib\urllib\request.py", line 1922, in _open_generic_http
    raise URLError("http protocol error: bad status line")
urllib.error.URLError: <urlopen error http protocol error: bad status line>

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Anac\lib\site-packages\imdbpy-6.1.dev20171118-py3.6.egg\imdb\__init__.py", line 708, in update
    ret = method(mopID)
  File "C:\Anac\lib\site-packages\imdbpy-6.1.dev20171118-py3.6.egg\imdb\parser\http\__init__.py", line 625, in get_person_main
    cont = self._retrieve(self.urls['person_main'] % personID + 'maindetails')
  File "C:\Anac\lib\site-packages\imdbpy-6.1.dev20171118-py3.6.egg\imdb\parser\http\__init__.py", line 396, in _retrieve
    ret = self.urlOpener.retrieve_unicode(url, size=size)
  File "C:\Anac\lib\site-packages\imdbpy-6.1.dev20171118-py3.6.egg\imdb\parser\http\__init__.py", line 208, in retrieve_unicode
    'original exception': e}
imdb._exceptions.IMDbDataAccessError: {'errcode': None, 'errmsg': 'None', 'url': 'http://akas.imdb.com/name/nm0149260/maindetails', 'proxy': '', 'exception type': 'IOError', 'original exception': URLError('http protocol error: bad status line',)}

In [442]:
movies_with_bof_not_found_df=movies_with_bof_not_found_df.set_index('imdbId')

In [ ]:
#drop the columns from earlier run
movies_with_bof_not_found_df=movies_with_bof_not_found_df.drop(['actor1_gender', 'actor1_name', 'actor1_score', 'actor2_gender',
       'actor2_name', 'actor2_score', 'actor3_gender', 'actor3_name',
       'actor3_score', 'actor4_gender', 'actor4_name', 'actor4_score',
       'director', 'director_score', 'found', 'kind', 'plot', 'release_date',
       'studio', 'year'],axis=1)

In [453]:
movies_with_bof_not_found_df=pd.concat([movies_with_bof_not_found_df,movies_with_bof_not_found_df['movie_details'].apply(pd.Series)],axis=1)

In [509]:
movies_with_bof_df=pd.concat([movies_with_bof_df,movies_with_bof_not_found_df])

In [510]:
movies_with_bof_df.shape

(2732, 47)

In [520]:
#still are there movies which dont have details? yes there are. 86 movies to be exact
#will drop them, that will leave 2646 movies to build the model on 
movies_with_bof_df[(movies_with_bof_df.found==False)][['title']]

                                                     title
imdbId
112682   City of Lost Children, The (Cité des enfants p...
113326          Rumble in the Bronx (Hont faan kui) (1995)
103994   Like Water for Chocolate (Como agua para choco...
58898    Alphaville (Alphaville, une étrange aventure d...
95765       Cinema Paradiso (Nuovo cinema Paradiso) (1989)
117631                                        Shine (1996)
118849   Children of Heaven, The (Bacheha-Ye Aseman) (1...
80801                       Gods Must Be Crazy, The (1980)
140888          Central Station (Central do Brasil) (1998)
154420                    Celebration, The (Festen) (1998)
47034                             Godzilla (Gojira) (1954)
90555                              Crocodile Dundee (1986)
105399               Twin Dragons (Shuang long hui) (1992)
82484            Quest for Fire (Guerre du feu, La) (1981)
82694                 Road Warrior, The (Mad Max 2) (1981)
89530                    Mad Max Beyond Thunderdome (1985)
188640      Godzilla 2000 (Gojira ni-sen mireniamu) (1999)
111512   Legend of Drunken Master, The (Jui kuen II) (1...
245712               Amores Perros (Love's a Bitch) (2000)
255094                        Circle, The (Dayereh) (2000)
84296                     Man from Snowy River, The (1982)
108148   Iron Monkey (Siu nin Wong Fei-hung ji: Tit Ma ...
256009   Devil's Backbone, The (Espinazo del diablo, El...
293416                                   Metropolis (2001)
247586                   Nine Queens (Nueve reinas) (2000)
252444                           Rabbit-Proof Fence (2002)
245429   Spirited Away (Sen to Chihiro no kamikakushi) ...
263734                              Men with Brooms (2002)
317248                 City of God (Cidade de Deus) (2002)
319769       Mondays in the Sun (Lunes al sol, Los) (2002)
...                                                    ...
457572                                         Fido (2006)
416044                                       Mongol (2007)
1139797  Let the Right One In (Låt den rätte komma in) ...
906665                      Sukiyaki Western Django (2008)
449040                            War of the Worlds (2005)
876563                  Ponyo (Gake no ue no Ponyo) (2008)
480669              Timecrimes (Cronocrímenes, Los) (2007)
1132620  Girl with the Dragon Tattoo, The (Män som hata...
1278340                         Dead Snow (Død snø) (2009)
1305806  Secret in Their Eyes, The (El secreto de sus o...
762073                              Thirst (Bakjwi) (2009)
913425          Broken Embraces (Los abrazos rotos) (2009)
1186830                                       Agora (2009)
1188996                             My Name is Khan (2010)
1216496                              Mother (Madeo) (2009)
1032751                          Warrior's Way, The (2010)
1667150  What Women Want (a.k.a. I Know a Woman's Heart...
1640459                         Hobo with a Shotgun (2011)
1436045         13 Assassins (Jûsan-nin no shikaku) (2010)
1540133                                  Guard, The (2011)
1189073    Skin I Live In, The (La piel que habito) (2011)
1798188  From Up on Poppy Hill (Kokuriko-zaka kara) (2011)
1934269                Yossi (Ha-Sippur Shel Yossi) (2012)
2023587                                        Mama (2013)
2404461                        Past, The (Le passé) (2013)
2013293              Wind Rises, The (Kaze tachinu) (2013)
1486834                                     What If (2013)
1186373                                Wonder Woman (2009)
2321549                               Babadook, The (2014)
3011894                                  Wild Tales (2014)

[86 rows x 1 columns]

In [529]:
# drop the movies that do not have the details
final_movie_data_df = movies_with_bof_df[~(movies_with_bof_df.found==False)]

In [530]:
final_movie_data_df.head(3)

,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,...,movieId,movie_4th_wknd_bo,movie_details,plot,release_date,studio,title,tmdbId,year,year_orig
imdbId,,,,,,,,,,,,,,,,,,,,,
114709,0,1,1,1,1,0,0,0,1,0,...,1,97458735,"{'found': True, 'kind': 'movie', 'plot': ['A l...",[A little boy named Andy loves to be in his ro...,19 November 1995,Pixar Animation Studios,Toy Story (1995),862.0,1995.0,1995
113497,0,1,0,1,0,0,0,0,1,0,...,2,68400785,"{'found': True, 'kind': 'movie', 'plot': ['Aft...",[After being trapped in a jungle board game fo...,15 December 1995,TriStar Pictures,Jumanji (1995),8844.0,1995.0,1995
113228,0,0,0,0,1,0,0,0,0,0,...,3,50891320,"{'found': True, 'kind': 'movie', 'plot': ['Thi...",[Things don't seem to change much in Wabasha C...,22 December 1995,Lancaster Gate,Grumpier Old Men (1995),15602.0,1995.0,1995

In [531]:
len(final_movie_data_df )

2646

In [551]:
#final checks, check if all the box office collection are valid numbers
final_movie_data_df[np.isnan(pd.to_numeric(final_movie_data_df['movie_4th_wknd_bo'],errors='coerce'))]['title']

imdbId
93277                                        Ironweed (1987)
248667                                            Ali (2001)
265086                                Black Hawk Down (2001)
280707                                   Gosford Park (2001)
277027                                       I Am Sam (2001)
285742                                 Monster's Ball (2001)
120824                             Shipping News, The (2001)
365485                                   Matador, The (2005)
482546                                    Miss Potter (2006)
469494                            There Will Be Blood (2007)
92804                                     Cry Freedom (1987)
416320                                    Match Point (2005)
419198     Tiger and the Snow, The (La tigre e la neve) (...
1007029                                Iron Lady, The (2011)
Name: title, dtype: object

In [552]:
#the function to get the box office did not work for these movies, so 
#manually update these movies; box office data not found for movie 419198
final_movie_data_df.set_value('181865','movie_4th_wknd_bo','46692094')
final_movie_data_df.set_value('93277','movie_4th_wknd_bo','4536774')
final_movie_data_df.set_value('248667','movie_4th_wknd_bo','57233982')
final_movie_data_df.set_value('265086','movie_4th_wknd_bo','35471639')
final_movie_data_df.set_value('280707','movie_4th_wknd_bo','12151492')
final_movie_data_df.set_value('277027','movie_4th_wknd_bo','29282085')
final_movie_data_df.set_value('285742','movie_4th_wknd_bo','7559592')
final_movie_data_df.set_value('120824','movie_4th_wknd_bo','7954707')
final_movie_data_df.set_value('365485','movie_4th_wknd_bo','10515807')
final_movie_data_df.set_value('482546','movie_4th_wknd_bo','583223')
final_movie_data_df.set_value('469494','movie_4th_wknd_bo','26687605')
final_movie_data_df.set_value('92804','movie_4th_wknd_bo','1067825')
final_movie_data_df.set_value('416320','movie_4th_wknd_bo','10167645')
final_movie_data_df.set_value('1007029','movie_4th_wknd_bo','17519123')

,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,...,movieId,movie_4th_wknd_bo,movie_details,plot,release_date,studio,title,tmdbId,year,year_orig
imdbId,,,,,,,,,,,,,,,,,,,,,
114709,0,1,1,1,1,0,0,0,1,0,...,1,97458735,"{'found': True, 'kind': 'movie', 'plot': ['A l...",[A little boy named Andy loves to be in his ro...,19 November 1995,Pixar Animation Studios,Toy Story (1995),862.0,1995.0,1995
113497,0,1,0,1,0,0,0,0,1,0,...,2,68400785,"{'found': True, 'kind': 'movie', 'plot': ['Aft...",[After being trapped in a jungle board game fo...,15 December 1995,TriStar Pictures,Jumanji (1995),8844.0,1995.0,1995
113228,0,0,0,0,1,0,0,0,0,0,...,3,50891320,"{'found': True, 'kind': 'movie', 'plot': ['Thi...",[Things don't seem to change much in Wabasha C...,22 December 1995,Lancaster Gate,Grumpier Old Men (1995),15602.0,1995.0,1995
114885,0,0,0,0,1,0,0,1,0,0,...,4,52538430,"{'found': True, 'kind': 'movie', 'plot': ['Thi...",[This story based on the best selling novel by...,22 December 1995,Twentieth Century Fox,Waiting to Exhale (1995),31357.0,1995.0,1995
113277,1,0,0,0,0,1,0,0,0,0,...,6,44636883,"{'found': True, 'kind': 'movie', 'plot': ['Hun...",[Hunters and their prey--Neil and his professi...,6 December 1995,Warner Bros.,Heat (1995),949.0,1995.0,1995
114319,0,0,0,0,1,0,0,0,0,0,...,7,37807829,"{'found': True, 'kind': 'movie', 'plot': ['Whi...","[While she was growing up, Sabrina Fairchild s...",15 December 1995,Constellation Entertainment,Sabrina (1995),11860.0,1995.0,1995
113189,1,1,0,0,0,0,0,0,0,0,...,10,78005485,"{'found': True, 'kind': 'movie', 'plot': ['Whe...",[When a deadly satellite weapon system falls i...,13 November 1995,Eon Productions,GoldenEye (1995),710.0,1995.0,1995
112346,0,0,0,0,1,0,0,1,0,0,...,11,38047688,"{'found': True, 'kind': 'movie', 'plot': ['And...",[Andrew Shepherd is approaching the end of his...,8 November 1995,Universal Pictures,"American President, The (1995)",9087.0,1995.0,1995
113987,0,0,0,0,0,0,0,1,0,0,...,14,12152675,"{'found': True, 'kind': 'movie', 'plot': ['Dir...",[Director Oliver Stone's exploration of former...,20 December 1995,Cinergi Pictures Entertainment,Nixon (1995),10858.0,1995.0,1995
112641,0,0,0,0,0,1,0,1,0,0,...,16,32825325,"{'found': True, 'kind': 'movie', 'plot': ['Thi...",[This Martin Scorsese film depicts the Janus-l...,14 November 1995,Universal Pictures,Casino (1995),524.0,1995.0,1995
114388,0,0,0,0,0,0,0,1,0,0,...,17,6709060,"{'found': True, 'kind': 'movie', 'plot': ['Whe...","[When Mr. Dashwood dies, he must leave the bul...",4 December 1995,Columbia Pictures Corporation,Sense and Sensibility (1995),4584.0,1995.0,1995
113845,1,0,0,0,1,1,0,1,0,0,...,20,32051577,"{'found': True, 'kind': 'movie', 'plot': ['Two...",[Two foster brothers work as transit cops. Whi...,12 November 1995,Columbia Pictures,Money Train (1995),11517.0,1995.0,1995
113161,0,0,0,0,1,1,0,0,0,0,...,21,50603778,"{'found': True, 'kind': 'movie', 'plot': ['Som...","[Some guys get all the luck, whether they like...",20 October 1995,Metro-Goldwyn-Mayer (MGM),Get Shorty (1995),8012.0,1995.0,1995
112722,0,0,0,0,0,1,0,1,0,0,...,22,23730990,"{'found': True, 'kind': 'movie', 'plot': ['In ...","[In San Francisco, the criminal psychologist H...",19 October 1995,Regency Enterprises,Copycat (1995),1710.0,1995.0,1995
112401,1,0,0,0,0,1,0,0,0,0,...,23,23777841,"{'found': True, 'kind': 'movie', 'plot': ['Rob...",[Robert Rath is a seasoned hitman who just wan...,October 1995,Warner Bros.,Assassins (1995),9691.0,1995.0,1995
114168,0,0,0,0,0,0,0,1,0,0,...,24,24880701,"{'found': True, 'kind': 'movie', 'plot': ['Whe...",[When sheriff Barnum investigates the death of...,27 October 1995,Caravan Pictures,Powder (1995),12665.0,1995.0,1995
113627,0,0,0,0,0,0,0,1,0,0,...,25,4843272,"{'found': True, 'kind': 'movie', 'plot': ['Bec...",[Because his wife left him and took his son wi...,27 October 1995,Lumiere Pictures,Leaving Las Vegas (1995),451.0,1995.0,1995
112792,0,0,0,0,0,0,0,1,0,0,...,31,57453051,"{'found': True, 'kind': 'movie', 'plot': ['Lou...","[Louanne Johnson is an ex-marine, hired as a t...",11 August 1995,Hollywood Pictures,Dangerous Minds (1995),9909.0,1995.0,1995
114746,0,0,0,0,0,0,0,0,0,0,...,32,30663394,"{'found': True, 'kind': 'movie', 'plot': ['An ...",[An unknown and lethal virus has wiped out fiv...,8 December 1995,Universal Pictures,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),63.0,1995.0,1995
112431,0,0,0,1,0,0,0,1,0,0,...,34,36821030,"{'found': True, 'kind': 'movie', 'plot': ['Gen...",[Gentle farmer Arthur Hoggett wins a piglet na...,4 August 1995,Universal Pictures,Babe (1995),9598.0,1995.0,1995
112818,0,0,0,0,0,1,0,1,0,0,...,36,827468,"{'found': True, 'kind': 'movie', 'plot': ['A c...",[A convicted murderer on Death Row and the nun...,29 December 1995,Havoc,Dead Man Walking (1995),687.0,1995.0,1995
112697,0,0,0,0,1,0,0,0,0,0,...,39,45718605,"{'found': True, 'kind': 'movie', 'plot': ['Che...","[Cher, a high school student in Beverly Hills,...",19 July 1995,Paramount Pictures,Clueless (1995),9603.0,1995.0,1995
112819,1,0,0,0,0,1,0,1,0,0,...,42,19179628,"{'found': True, 'kind': 'movie', 'plot': ['Thi...","[This action film, directed by the Hughes brot...",29 September 1995,Caravan Pictures,Dead Presidents (1995),11443.0,1995.0,1995
113855,1,1,0,0,0,0,0,0,1,0,...,44,60125556,"{'found': True, 'kind': 'movie', 'plot': ['Bas...",[Based on the popular video game of the same n...,18 August 1995,New Line Cinema,Mortal Kombat (1995),9312.0,1995.0,1995
114681,0,0,0,0,1,0,0,1,0,0,...,45,12820978,"{'found': True, 'kind': 'movie', 'plot': ['Suz...",[Suzanne Stone (Maretto) knows exactly what sh...,29 September 1995,Columbia Pictures Corporation,To Die For (1995),577.0,1995.0,1995
113347,0,0,0,0,0,0,0,1,0,0,...,46,16412180,"{'found': True, 'kind': 'movie', 'plot': ['Fin...","[Finn is a young graduate student, finishing a...",6 October 1995,Universal Pictures,How to Make an American Quilt (1995),11861.0,1995.0,1995
114369,0,0,0,0,0,0,0,0,0,0,...,47,57754130,"{'found': True, 'kind': 'movie', 'plot': ['A f...",[A film about two homicide detectives' (Morgan...,15 September 1995,Cecchi Gori Pictures,Seven (a.k.a. Se7en) (1995),807.0,1995.0,1995
114148,0,0,1,1,0,0,0,1,0,0,...,48,91260172,"{'found': True, 'kind': 'movie', 'plot': ['Thi...",[This is the Disney animated tale of the roman...,15 June 1995,Walt Disney Pictures,Pocahontas (1995),10530.0,1995.0,1995
114814,0,0,0,0,0,1,0,0,0,0,...,50,8616049,"{'found': True, 'kind': 'movie', 'plot': ['Fol...","[Following a truck hijack in New York, five co...",25 January 1995,PolyGram Filmed Entertainment,"Usual Suspects, The (1995)",629.0,1995.0,1995
112499,0,0,0,1,1,0,0,0,0,0,...,54,13147025,"{'found': True, 'kind': 'movie', 'plot': ['Ano...",[Another Disney underdog sports team of misfit...,29 September 1995,Caravan Pictures,"Big Green, The (1995)",26441.0,1995.0,1995
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
780516,0,0,0,0,0,1,0,1,0,0,...,57353,4294854,"{'found': True, 'kind': 'movie', 'plot': ['Lon...","[London, 1960. Laura Quinn is the lone female ...",,Magnolia Pictures,Flawless (2007),13195.0,2007.0,2007
936501,1,0,0,0,0,1,0,1,0,0,...,59369,80496557,"{'found': True, 'kind': 'movie', 'plot': ['Sev...",[Seventeen year-old Kim is the pride and joy o...,,EuropaCorp,Taken (2008),8681.0,2008.0,2008
1226271,0,0,0,0,0,0,0,1,0,0,...,68194,254648,"{'found': True, 'kind': 'movie', 'plot': ['Tak...",[Taking over England's top football club Leeds...,,Columbia Pictures Corporation,"Damned United, The (2009)",21641.0,2009.0,2009
870984,0,0,0,0,0,0,0,1,1,0,...,69134,282404,"{'found': True, 'kind': 'movie', 'plot': ['A c...",[A couple lose their young son when he falls o...,,Zentropa Entertainments,Antichrist (2009),17609.0,2009.0,2009
1179034,1,0,0,0,0,1,0,0,0,0,...,74851,21361504,"{'found': True, 'kind': 'movie', 'plot': ['Jam...",[James Reece is an ambitious aide to the U.S. ...,,EuropaCorp,From Paris with Love (2010),26389.0,2010.0,2010
1289406,0,0,0,0,0,1,0,1,0,0,...,74948,827673,"{'found': True, 'kind': 'movie', 'plot': ['In ...","[In England, retired Royal Marine Harry Brown ...",,Marv Films,Harry Brown (2009),25941.0,2009.0,2009
1612774,1,1,0,0,1,1,0,1,0,1,...,81132,51587,"{'found': True, 'kind': 'movie', 'plot': ['As ...","[As film spectators watch, a killer car tire c...",,Realitism Films,Rubber (2010),45649.0,2010.0,2010
1371155,0,0,0,0,1,0,0,1,0,0,...,83270,217826,"{'found': True, 'kind': 'movie', 'plot': ['In ...","[In 1968, the Ford auto factory in Dagenham wa...",,Audley Films,Made in Dagenham (2010),46138.0,2010.0,2010
1527186,0,0,0,0,0,0,0,1,0,0,...,86320,1601918,"{'found': True, 'kind': 'movie', 'plot': ['On ...","[On the night of her wedding, Justine is strug...",,Zentropa Entertainments,Melancholia (2011),62215.0,2011.0,2011
1255953,0,0,0,0,0,0,0,1,0,0,...,86781,380450,"{'found': True, 'kind': 'movie', 'plot': ['A m...",[A mother's last wishes send twins Jeanne and ...,,micro_scope,Incendies (2010),46738.0,2010.0,2010
1478964,1,0,0,0,1,0,0,0,0,0,...,87192,604420,"{'found': True, 'kind': 'movie', 'plot': ['Att...",[Attack the Block follows an unlucky young wom...,,StudioCanal,Attack the Block (2011),59678.0,2011.0,2011
1657507,1,1,0,0,0,0,0,1,0,0,...,89087,29726288,"{'found': True, 'kind': 'movie', 'plot': ['A y...",[A young woman grows up to be a stone-cold ass...,,EuropaCorp,Colombiana (2011),62835.0,2011.0,2011
1448755,1,0,0,0,0,0,0,0,0,0,...,89840,23763724,"{'found': True, 'kind': 'movie', 'plot': ['Loo...","[Loosely based on a true story, Killer Elite p...",,Omnilab Media,Killer Elite (2011),49021.0,2011.0,2011
1692486,0,0,0,0,1,0,0,1,0,0,...,90430,20268,"{'found': True, 'kind': 'movie', 'plot': ['In ...","[In Brooklyn Bridge Park, eleven year old Zach...",,SBS Productions,Carnage (2011),72113.0,2011.0,2011
1723811,0,0,0,0,0,0,0,1,0,0,...,90531,1530991,"{'found': True, 'kind': 'movie', 'plot': ['Bra...",[Brandon is a 30-something man living in New Y...,,See-Saw Films,Shame (2011),76025.0,2011.0,2011
1007029,0,0,0,0,0,0,0,1,0,0,...,91890,17519123,"{'found': True, 'kind': 'movie', 'plot': ['Eld...",[Elderly and a virtual prisoner in her own hom...,,Pathé,"Iron Lady, The (2011)",71688.0,2011.0,2011
1592525,1,0,0,0,0,0,0,0,0,0,...,93563,13894374,"{'found': True, 'kind': 'movie', 'plot': ['In ...","[In 2079, in Washington, the ex-CIA Operative ...",,EuropaCorp,Lockout (2012),81796.0,2012.0,2012
1602472,0,0,0,0,1,0,0,0,0,0,...,95744,417844,"{'found': True, 'kind': 'movie', 'plot': ['Mar...",[Marion (Delpy) has broken up with Jack (Two D...,,Polaris Film Production & Finance,2 Days in New York (2012),84165.0,2012.0,2012
1931533,0,0,0,0,1,1,0,0,0,0,...,97306,13411750,"{'found': True, 'kind': 'movie', 'plot': ['A s...",[A struggling screenwriter (Colin Farrell) ina...,,CBS Films,Seven Psychopaths (2012),86838.0,2012.0,2012
1602620,0,0,0,0,0,0,0,1,0,0,...,98056,638348,"{'found': True, 'kind': 'movie', 'plot': ['Geo...",[Georges and Anne are a couple of retired musi...,,Les Films du Losange,Amour (2012),86837.0,2012.0,2012
1441951,0,0,0,0,1,0,0,1,0,0,...,99220,1699861,"{'found': True, 'kind': 'movie', 'plot': ['Cec...","[Cecily, Reggie, and Wilfred are in a home for...",,Headline Pictures,Quartet (2012),121826.0,2012.0,2012
1829012,0,0,0,0,0,1,0,1,0,0,...,103449,71846,"{'found': True, 'kind': 'movie', 'plot': ['The...",[The rivalry between the manipulative boss of ...,,SBS Productions,Passion (2012),109099.0,2012.0,2012
2194499,0,0,0,0,0,0,0,1,1,0,...,104374,13822558,"{'found': True, 'kind': 'movie', 'plot': ['At ...","[At the age of 21, Tim Lake (Domhnall Gleeson)...",,Translux,About Time (2013),122906.0,2013.0,2013
2404181,0,0,0,0,0,0,0,1,0,0,...,111249,3854559,"{'found': True, 'kind': 'movie', 'plot': ['BEL...",[BELLE is inspired by the true story of Dido E...,,DJ Films,Belle (2013),205601.0,2013.0,2013
2872732,1,0,0,0,0,0,0,0,0,0,...,111360,107713190,"{'found': True, 'kind': 'movie', 'plot': ['It ...",[It was supposed to be a simple job. All Lucy ...,,EuropaCorp,Lucy (2014),240832.0,2014.0,2014
470752,0,0,0,0,0,0,0,1,0,0,...,115713,12154555,"{'found': True, 'kind': 'movie', 'plot': ['Cal...","[Caleb, a 26 year old programmer at the world'...",,Universal Pictures International (UPI),Ex Machina (2015),264660.0,2014.0,2015
2381111,0,0,0,0,0,0,0,1,0,0,...,127108,7395144,"{'found': True, 'kind': 'movie', 'plot': ['Ire...","[Ireland, early-1950s. Eilis Lacey is a young ...",,Wildgaze Films,Brooklyn (2015),167073.0,2015.0,2015
2404425,0,0,0,0,0,0,0,1,0,0,...,131796,21498632,"{'found': True, 'kind': 'movie', 'plot': ['Mar...",[Maria Altman sought to regain a world famous ...,,Origin Pictures,Woman in Gold (2015),304357.0,2015.0,2015
3399024,0,0,0,0,1,0,0,1,0,0,...,131830,141006,"{'found': True, 'kind': 'movie', 'plot': ['Sam...",[Samba migrated to France ten years ago from S...,,Quad Productions,Samba (2014),269148.0,2014.0,2014
3077214,0,0,0,0,0,0,0,1,0,0,...,141422,2569505,"{'found': True, 'kind': 'movie', 'plot': ['A d...",[A drama that tracks the story of the foot sol...,,Ruby Films,Suffragette (2015),245168.0,2015.0,2015

In [593]:
#the box office for Frozen and Transformers movie are incorrect, updating it
final_movie_data_df.set_value('2294629','movie_4th_wknd_bo','192034117')
final_movie_data_df.set_value('418279','movie_4th_wknd_bo','284677134')
final_movie_data_df.set_value('2660888','movie_4th_wknd_bo','139772742')

,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,...,movieId,movie_4th_wknd_bo,movie_details,plot,release_date,studio,title,tmdbId,year,year_orig
imdbId,,,,,,,,,,,,,,,,,,,,,
114709,0,1,1,1,1,0,0,0,1,0,...,1,97458735.0,"{'found': True, 'kind': 'movie', 'plot': ['A l...",[A little boy named Andy loves to be in his ro...,19 November 1995,Pixar Animation Studios,Toy Story (1995),862.0,1995.0,1995
113497,0,1,0,1,0,0,0,0,1,0,...,2,68400785.0,"{'found': True, 'kind': 'movie', 'plot': ['Aft...",[After being trapped in a jungle board game fo...,15 December 1995,TriStar Pictures,Jumanji (1995),8844.0,1995.0,1995
113228,0,0,0,0,1,0,0,0,0,0,...,3,50891320.0,"{'found': True, 'kind': 'movie', 'plot': ['Thi...",[Things don't seem to change much in Wabasha C...,22 December 1995,Lancaster Gate,Grumpier Old Men (1995),15602.0,1995.0,1995
114885,0,0,0,0,1,0,0,1,0,0,...,4,52538430.0,"{'found': True, 'kind': 'movie', 'plot': ['Thi...",[This story based on the best selling novel by...,22 December 1995,Twentieth Century Fox,Waiting to Exhale (1995),31357.0,1995.0,1995
113277,1,0,0,0,0,1,0,0,0,0,...,6,44636883.0,"{'found': True, 'kind': 'movie', 'plot': ['Hun...",[Hunters and their prey--Neil and his professi...,6 December 1995,Warner Bros.,Heat (1995),949.0,1995.0,1995
114319,0,0,0,0,1,0,0,0,0,0,...,7,37807829.0,"{'found': True, 'kind': 'movie', 'plot': ['Whi...","[While she was growing up, Sabrina Fairchild s...",15 December 1995,Constellation Entertainment,Sabrina (1995),11860.0,1995.0,1995
113189,1,1,0,0,0,0,0,0,0,0,...,10,78005485.0,"{'found': True, 'kind': 'movie', 'plot': ['Whe...",[When a deadly satellite weapon system falls i...,13 November 1995,Eon Productions,GoldenEye (1995),710.0,1995.0,1995
112346,0,0,0,0,1,0,0,1,0,0,...,11,38047688.0,"{'found': True, 'kind': 'movie', 'plot': ['And...",[Andrew Shepherd is approaching the end of his...,8 November 1995,Universal Pictures,"American President, The (1995)",9087.0,1995.0,1995
113987,0,0,0,0,0,0,0,1,0,0,...,14,12152675.0,"{'found': True, 'kind': 'movie', 'plot': ['Dir...",[Director Oliver Stone's exploration of former...,20 December 1995,Cinergi Pictures Entertainment,Nixon (1995),10858.0,1995.0,1995
112641,0,0,0,0,0,1,0,1,0,0,...,16,32825325.0,"{'found': True, 'kind': 'movie', 'plot': ['Thi...",[This Martin Scorsese film depicts the Janus-l...,14 November 1995,Universal Pictures,Casino (1995),524.0,1995.0,1995
114388,0,0,0,0,0,0,0,1,0,0,...,17,6709060.0,"{'found': True, 'kind': 'movie', 'plot': ['Whe...","[When Mr. Dashwood dies, he must leave the bul...",4 December 1995,Columbia Pictures Corporation,Sense and Sensibility (1995),4584.0,1995.0,1995
113845,1,0,0,0,1,1,0,1,0,0,...,20,32051577.0,"{'found': True, 'kind': 'movie', 'plot': ['Two...",[Two foster brothers work as transit cops. Whi...,12 November 1995,Columbia Pictures,Money Train (1995),11517.0,1995.0,1995
113161,0,0,0,0,1,1,0,0,0,0,...,21,50603778.0,"{'found': True, 'kind': 'movie', 'plot': ['Som...","[Some guys get all the luck, whether they like...",20 October 1995,Metro-Goldwyn-Mayer (MGM),Get Shorty (1995),8012.0,1995.0,1995
112722,0,0,0,0,0,1,0,1,0,0,...,22,23730990.0,"{'found': True, 'kind': 'movie', 'plot': ['In ...","[In San Francisco, the criminal psychologist H...",19 October 1995,Regency Enterprises,Copycat (1995),1710.0,1995.0,1995
112401,1,0,0,0,0,1,0,0,0,0,...,23,23777841.0,"{'found': True, 'kind': 'movie', 'plot': ['Rob...",[Robert Rath is a seasoned hitman who just wan...,October 1995,Warner Bros.,Assassins (1995),9691.0,1995.0,1995
114168,0,0,0,0,0,0,0,1,0,0,...,24,24880701.0,"{'found': True, 'kind': 'movie', 'plot': ['Whe...",[When sheriff Barnum investigates the death of...,27 October 1995,Caravan Pictures,Powder (1995),12665.0,1995.0,1995
113627,0,0,0,0,0,0,0,1,0,0,...,25,4843272.0,"{'found': True, 'kind': 'movie', 'plot': ['Bec...",[Because his wife left him and took his son wi...,27 October 1995,Lumiere Pictures,Leaving Las Vegas (1995),451.0,1995.0,1995
112792,0,0,0,0,0,0,0,1,0,0,...,31,57453051.0,"{'found': True, 'kind': 'movie', 'plot': ['Lou...","[Louanne Johnson is an ex-marine, hired as a t...",11 August 1995,Hollywood Pictures,Dangerous Minds (1995),9909.0,1995.0,1995
114746,0,0,0,0,0,0,0,0,0,0,...,32,30663394.0,"{'found': True, 'kind': 'movie', 'plot': ['An ...",[An unknown and lethal virus has wiped out fiv...,8 December 1995,Universal Pictures,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),63.0,1995.0,1995
112431,0,0,0,1,0,0,0,1,0,0,...,34,36821030.0,"{'found': True, 'kind': 'movie', 'plot': ['Gen...",[Gentle farmer Arthur Hoggett wins a piglet na...,4 August 1995,Universal Pictures,Babe (1995),9598.0,1995.0,1995
112818,0,0,0,0,0,1,0,1,0,0,...,36,827468.0,"{'found': True, 'kind': 'movie', 'plot': ['A c...",[A convicted murderer on Death Row and the nun...,29 December 1995,Havoc,Dead Man Walking (1995),687.0,1995.0,1995
112697,0,0,0,0,1,0,0,0,0,0,...,39,45718605.0,"{'found': True, 'kind': 'movie', 'plot': ['Che...","[Cher, a high school student in Beverly Hills,...",19 July 1995,Paramount Pictures,Clueless (1995),9603.0,1995.0,1995
112819,1,0,0,0,0,1,0,1,0,0,...,42,19179628.0,"{'found': True, 'kind': 'movie', 'plot': ['Thi...","[This action film, directed by the Hughes brot...",29 September 1995,Caravan Pictures,Dead Presidents (1995),11443.0,1995.0,1995
113855,1,1,0,0,0,0,0,0,1,0,...,44,60125556.0,"{'found': True, 'kind': 'movie', 'plot': ['Bas...",[Based on the popular video game of the same n...,18 August 1995,New Line Cinema,Mortal Kombat (1995),9312.0,1995.0,1995
114681,0,0,0,0,1,0,0,1,0,0,...,45,12820978.0,"{'found': True, 'kind': 'movie', 'plot': ['Suz...",[Suzanne Stone (Maretto) knows exactly what sh...,29 September 1995,Columbia Pictures Corporation,To Die For (1995),577.0,1995.0,1995
113347,0,0,0,0,0,0,0,1,0,0,...,46,16412180.0,"{'found': True, 'kind': 'movie', 'plot': ['Fin...","[Finn is a young graduate student, finishing a...",6 October 1995,Universal Pictures,How to Make an American Quilt (1995),11861.0,1995.0,1995
114369,0,0,0,0,0,0,0,0,0,0,...,47,57754130.0,"{'found': True, 'kind': 'movie', 'plot': ['A f...",[A film about two homicide detectives' (Morgan...,15 September 1995,Cecchi Gori Pictures,Seven (a.k.a. Se7en) (1995),807.0,1995.0,1995
114148,0,0,1,1,0,0,0,1,0,0,...,48,91260172.0,"{'found': True, 'kind': 'movie', 'plot': ['Thi...",[This is the Disney animated tale of the roman...,15 June 1995,Walt Disney Pictures,Pocahontas (1995),10530.0,1995.0,1995
114814,0,0,0,0,0,1,0,0,0,0,...,50,8616049.0,"{'found': True, 'kind': 'movie', 'plot': ['Fol...","[Following a truck hijack in New York, five co...",25 January 1995,PolyGram Filmed Entertainment,"Usual Suspects, The (1995)",629.0,1995.0,1995
112499,0,0,0,1,1,0,0,0,0,0,...,54,13147025.0,"{'found': True, 'kind': 'movie', 'plot': ['Ano...",[Another Disney underdog sports team of misfit...,29 September 1995,Caravan Pictures,"Big Green, The (1995)",26441.0,1995.0,1995
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
780516,0,0,0,0,0,1,0,1,0,0,...,57353,4294854.0,"{'found': True, 'kind': 'movie', 'plot': ['Lon...","[London, 1960. Laura Quinn is the lone female ...",,Magnolia Pictures,Flawless (2007),13195.0,2007.0,2007
936501,1,0,0,0,0,1,0,1,0,0,...,59369,80496557.0,"{'found': True, 'kind': 'movie', 'plot': ['Sev...",[Seventeen year-old Kim is the pride and joy o...,,EuropaCorp,Taken (2008),8681.0,2008.0,2008
1226271,0,0,0,0,0,0,0,1,0,0,...,68194,254648.0,"{'found': True, 'kind': 'movie', 'plot': ['Tak...",[Taking over England's top football club Leeds...,,Columbia Pictures Corporation,"Damned United, The (2009)",21641.0,2009.0,2009
870984,0,0,0,0,0,0,0,1,1,0,...,69134,282404.0,"{'found': True, 'kind': 'movie', 'plot': ['A c...",[A couple lose their young son when he falls o...,,Zentropa Entertainments,Antichrist (2009),17609.0,2009.0,2009
1179034,1,0,0,0,0,1,0,0,0,0,...,74851,21361504.0,"{'found': True, 'kind': 'movie', 'plot': ['Jam...",[James Reece is an ambitious aide to the U.S. ...,,EuropaCorp,From Paris with Love (2010),26389.0,2010.0,2010
1289406,0,0,0,0,0,1,0,1,0,0,...,74948,827673.0,"{'found': True, 'kind': 'movie', 'plot': ['In ...","[In England, retired Royal Marine Harry Brown ...",,Marv Films,Harry Brown (2009),25941.0,2009.0,2009
1612774,1,1,0,0,1,1,0,1,0,1,...,81132,51587.0,"{'found': True, 'kind': 'movie', 'plot': ['As ...","[As film spectators watch, a killer car tire c...",,Realitism Films,Rubber (2010),45649.0,2010.0,2010
1371155,0,0,0,0,1,0,0,1,0,0,...,83270,217826.0,"{'found': True, 'kind': 'movie', 'plot': ['In ...","[In 1968, the Ford auto factory in Dagenham wa...",,Audley Films,Made in Dagenham (2010),46138.0,2010.0,2010
1527186,0,0,0,0,0,0,0,1,0,0,...,86320,1601918.0,"{'found': True, 'kind': 'movie', 'plot': ['On ...","[On the night of her wedding, Justine is strug...",,Zentropa Entertainments,Melancholia (2011),62215.0,2011.0,2011
1255953,0,0,0,0,0,0,0,1,0,0,...,86781,380450.0,"{'found': True, 'kind': 'movie', 'plot': ['A m...",[A mother's last wishes send twins Jeanne and ...,,micro_scope,Incendies (2010),46738.0,2010.0,2010
1478964,1,0,0,0,1,0,0,0,0,0,...,87192,604420.0,"{'found': True, 'kind': 'movie', 'plot': ['Att...",[Attack the Block follows an unlucky young wom...,,StudioCanal,Attack the Block (2011),59678.0,2011.0,2011
1657507,1,1,0,0,0,0,0,1,0,0,...,89087,29726288.0,"{'found': True, 'kind': 'movie', 'plot': ['A y...",[A young woman grows up to be a stone-cold ass...,,EuropaCorp,Colombiana (2011),62835.0,2011.0,2011
1448755,1,0,0,0,0,0,0,0,0,0,...,89840,23763724.0,"{'found': True, 'kind': 'movie', 'plot': ['Loo...","[Loosely based on a true story, Killer Elite p...",,Omnilab Media,Killer Elite (2011),49021.0,2011.0,2011
1692486,0,0,0,0,1,0,0,1,0,0,...,90430,20268.0,"{'found': True, 'kind': 'movie', 'plot': ['In ...","[In Brooklyn Bridge Park, eleven year old Zach...",,SBS Productions,Carnage (2011),72113.0,2011.0,2011
1723811,0,0,0,0,0,0,0,1,0,0,...,90531,1530991.0,"{'found': True, 'kind': 'movie', 'plot': ['Bra...",[Brandon is a 30-something man living in New Y...,,See-Saw Films,Shame (2011),76025.0,2011.0,2011
1007029,0,0,0,0,0,0,0,1,0,0,...,91890,17519123.0,"{'found': True, 'kind': 'movie', 'plot': ['Eld...",[Elderly and a virtual prisoner in her own hom...,,Pathé,"Iron Lady, The (2011)",71688.0,2011.0,2011
1592525,1,0,0,0,0,0,0,0,0,0,...,93563,13894374.0,"{'found': True, 'kind': 'movie', 'plot': ['In ...","[In 2079, in Washington, the ex-CIA Operative ...",,EuropaCorp,Lockout (2012),81796.0,2012.0,2012
1602472,0,0,0,0,1,0,0,0,0,0,...,95744,417844.0,"{'found': True, 'kind': 'movie', 'plot': ['Mar...",[Marion (Delpy) has broken up with Jack (Two D...,,Polaris Film Production & Finance,2 Days in New York (2012),84165.0,2012.0,2012
1931533,0,0,0,0,1,1,0,0,0,0,...,97306,13411750.0,"{'found': True, 'kind': 'movie', 'plot': ['A s...",[A struggling screenwriter (Colin Farrell) ina...,,CBS Films,Seven Psychopaths (2012),86838.0,2012.0,2012
1602620,0,0,0,0,0,0,0,1,0,0,...,98056,638348.0,"{'found': True, 'kind': 'movie', 'plot': ['Geo...",[Georges and Anne are a couple of retired musi...,,Les Films du Losange,Amour (2012),86837.0,2012.0,2012
1441951,0,0,0,0,1,0,0,1,0,0,...,99220,1699861.0,"{'found': True, 'kind': 'movie', 'plot': ['Cec...","[Cecily, Reggie, and Wilfred are in a home for...",,Headline Pictures,Quartet (2012),121826.0,2012.0,2012
1829012,0,0,0,0,0,1,0,1,0,0,...,103449,71846.0,"{'found': True, 'kind': 'movie', 'plot': ['The...",[The rivalry between the manipulative boss of ...,,SBS Productions,Passion (2012),109099.0,2012.0,2012
2194499,0,0,0,0,0,0,0,1,1,0,...,104374,13822558.0,"{'found': True, 'kind': 'movie', 'plot': ['At ...","[At the age of 21, Tim Lake (Domhnall Gleeson)...",,Translux,About Time (2013),122906.0,2013.0,2013
2404181,0,0,0,0,0,0,0,1,0,0,...,111249,3854559.0,"{'found': True, 'kind': 'movie', 'plot': ['BEL...",[BELLE is inspired by the true story of Dido E...,,DJ Films,Belle (2013),205601.0,2013.0,2013
2872732,1,0,0,0,0,0,0,0,0,0,...,111360,107713190.0,"{'found': True, 'kind': 'movie', 'plot': ['It ...",[It was supposed to be a simple job. All Lucy ...,,EuropaCorp,Lucy (2014),240832.0,2014.0,2014
470752,0,0,0,0,0,0,0,1,0,0,...,115713,12154555.0,"{'found': True, 'kind': 'movie', 'plot': ['Cal...","[Caleb, a 26 year old programmer at the world'...",,Universal Pictures International (UPI),Ex Machina (2015),264660.0,2014.0,2015
2381111,0,0,0,0,0,0,0,1,0,0,...,127108,7395144.0,"{'found': True, 'kind': 'movie', 'plot': ['Ire...","[Ireland, early-1950s. Eilis Lacey is a young ...",,Wildgaze Films,Brooklyn (2015),167073.0,2015.0,2015
2404425,0,0,0,0,0,0,0,1,0,0,...,131796,21498632.0,"{'found': True, 'kind': 'movie', 'plot': ['Mar...",[Maria Altman sought to regain a world famous ...,,Origin Pictures,Woman in Gold (2015),304357.0,2015.0,2015
3399024,0,0,0,0,1,0,0,1,0,0,...,131830,141006.0,"{'found': True, 'kind': 'movie', 'plot': ['Sam...",[Samba migrated to France ten years ago from S...,,Quad Productions,Samba (2014),269148.0,2014.0,2014
3077214,0,0,0,0,0,0,0,1,0,0,...,141422,2569505.0,"{'found': True, 'kind': 'movie', 'plot': ['A d...",[A drama that tracks the story of the foot sol...,,Ruby Films,Suffragette (2015),245168.0,2015.0,2015

In [596]:
final_movie_data_df.loc['3332064']

Action                                                               0
Adventure                                                            1
Animation                                                            0
Children                                                             1
Comedy                                                               0
Crime                                                                0
Documentary                                                          0
Drama                                                                0
Fantasy                                                              1
Film-Noir                                                            0
Horror                                                               0
IMAX                                                                 0
Musical                                                              0
Mystery                                                              0
Romance                                                              0
Sci-Fi                                                               0
Thriller                                                             0
War                                                                  0
Western                                                              0
actor1_gender                                                     Male
actor1_name                                               Hugh Jackman
actor1_score
actor2_gender                                                     Male
actor2_name                                                Levi Miller
actor2_score
actor3_gender                                                     Male
actor3_name                                            Garrett Hedlund
actor3_score
actor4_gender                                                   Female
actor4_name                                                Rooney Mara
actor4_score
director                                                    Joe Wright
director_score                                                      14
found                                                             True
genres                                      Adventure|Children|Fantasy
kind                                                             movie
movieBudget                                                  150000000
movieId                                                         130450
movie_4th_wknd_bo                                          3.18609e+07
movie_details        {'found': True, 'kind': 'movie', 'plot': ['12-...
plot                 [12-year-old orphan Peter is spirited away to ...
release_date                                          0 September 2015
studio                                                    Warner Bros.
title                                                       Pan (2015)
tmdbId                                                          266647
year                                                              2015
year_orig                                                         2015
Name: 3332064, dtype: object

In [553]:
final_movie_data_df[np.isnan(pd.to_numeric(final_movie_data_df['movie_4th_wknd_bo'],errors='coerce'))]['title']

imdbId
419198    Tiger and the Snow, The (La tigre e la neve) (...
Name: title, dtype: object

In [554]:
#run a similar check on movie budget values
#all values are fine
final_movie_data_df[np.isnan(pd.to_numeric(final_movie_data_df['movieBudget'],errors='coerce'))]['title']

Series([], Name: title, dtype: object)

In [556]:
final_movie_data_df['movie_4th_wknd_bo']=pd.to_numeric(final_movie_data_df['movie_4th_wknd_bo'],errors='coerce')

C:\Anac\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [558]:
final_movie_data_df['movieBudget']=pd.to_numeric(final_movie_data_df['movieBudget'],errors='coerce')

C:\Anac\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [562]:
#remove the row with invalid box office data
final_movie_data_df=final_movie_data_df[~(np.isnan(final_movie_data_df['movie_4th_wknd_bo']))]

In [563]:
len(final_movie_data_df)

2645

In [595]:
#save this as a csv file and load it in another notebook 
#to visualize and create the model
final_movie_data_df.to_csv('final_movie_data_df.csv')